@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Banco de imagens/Login/background.jpeg'); 
    background-size: cover;
    background-position: center;
    filter: brightness(0.1);
    z-index: -1;
}

h1 {
    font-size: 32px;
    color: #c82b41;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: default;
    user-select: none;
}

.cadastro h1 {
    color: #ffffff;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
    
}

.esqueceuSenha {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    font-style: italic;
    cursor: pointer;
  }
  .esqueceuSenha:hover {
    text-decoration: underline;
  }

.form-container, .cadastro {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.form-container {
    background-color: #ffffff;
    color: #000;
    border-radius: 30px;
    padding: 20px;
}

.cadastro {
    border-radius: 5%;
    background-color: #ee5f00; 
    color: #ffffff;
    cursor: default;
    user-select: none;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    text-align: center;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 2px 0 10px;
    text-align: center;
    font-style: italic;
    cursor: pointer;
    user-select: text;
}

.container button {
    background-color: #c82b41;  
    color: #fff; 
    font-size: 12px;  
    padding: 10px 20px; 
    border: 1px solid transparent; 
    border-radius: 8px;  
    font-weight: 600;  
    letter-spacing: 0.5px;  
    text-transform: uppercase;  
    cursor: pointer;  
    transition: all 0.3s ease;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: default;
    user-select: none;
}

.container button:hover {
    background-color: #8b1c2c;  
    transform: scale(1.05); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);  
    border-color: #8b1c2c;  
}

.container button:focus {
    outline: none;  
    box-shadow: 0 0 10px rgba(255, 0, 34, 0.5); 
    border-color: #c82b41; 
}

.container button:active {
    transform: scale(0.98);  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-link {
    background-color: #c82b41;  
    color: #ffffff; 
    font-size: 12px;  
    padding: 10px 20px; 
    border: 1px solid transparent; 
    border-radius: 8px;  
    font-weight: 600;  
    letter-spacing: 0.5px;  
    text-transform: uppercase;  
    cursor: pointer;  
    transition: all 0.3s ease;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: default;
    user-select: none;
}
.button-link:hover {
    background-color: #8b1c2c;  
    transform: scale(1.05); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);  
    border-color: #8b1c2c;
}
.button-link:focus {
    outline: none;  
    box-shadow: 0 0 10px rgba(255, 0, 34, 0.5); 
    border-color: #c82b41; 
}

.button-link:active {
    transform: scale(0.98);  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#register {
    background-color: #ffffff;
    color: #c82b41;
}

input {
    background-color: #f3f3f3;
    border: 2px solid #c82b41;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    width: 75%;
    outline: none;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #8b1c2c;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(200, 43, 65, 0.5);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
    cursor: default;
    user-select: none;
}

.social-icons .icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    transition: all 0.3s ease;
    font-size: 18px;
}

.social-icons .icon.google:hover {
    background-color: #DB4437;
    color: #fff;
    border-color: #DB4437;
}

.social-icons .icon.github:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.social-icons .icon.facebook:hover {
    background-color: #1877F2;
    color: #fff;
    border-color: #1877F2;
}

.social-icons .icon.linkedin:hover {
    background-color: #0A66C2;  
    color: #fff;
    border-color: #0A66C2;
}

